<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Машины</title>
</head>
<body>
<div th:insert="common :: com"></div>
<div class="container-fluid">
    <form th:method="GET" th:action="@{/cars/new}">
        <button type="submit" class="btn btn-primary btn-lg">Добавить новую машину</button>
    </form>
    <div class="row">
        <div class="card-group">
            <div th:each="car : ${cars}">
                <div class="card" style="width: 12rem;">
                    <img th:src="@{${car.getFilename()}}" class="card-img-top" alt="Not found" height="160">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.getModel()}">Card title</h5>
                        <p class="card-text" th:text="${car.getStateNumber()}"></p>
                        <a th:href="@{/cars/{id}(id=${car.getId()})}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>