<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${car.getModel()}">Информация об автомобиле</title>
</head>
<body>
<div th:insert="common :: com"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img th:src="@{${car.getFilename()}}" class="img-fluid" alt="Not found">
        </div>
        <div class="col">
            <p th:text="${'Модель: ' + car.getModel()}" style="font-size: xx-large">VALUE</p>
            <div th:if="${car.getOwner() == null}">
                <p style="color:red; font-size: large">Владелец: Нет данных о владельце</p>
            </div>
            <div th:if="${car.getOwner() != null}">
                <a th:href="@{/clients/{id}(id=${car.getOwner().getId()})}" style="font-size: large" th:text="${'Владелец: ' + car.getOwner().getFullName()}">VALUE</a>
            </div>
            <br/>
            <p th:text="${'Госномер: ' + car.getStateNumber()}" style="font-size: large">VALUE</p>
            <p th:text="${'VIN: ' + car.getVin()}" style="font-size: large">VALUE</p>
            <form th:method="GET" th:action="@{/cars/{id}/edit(id=${car.getId()})}">
                <button type="submit" class="btn btn-primary btn-lg">Редактировать</button>
            </form>
            <br/>
            <form th:method="DELETE" th:action="@{/cars/{id}(id=${car.getId()})}">
                <button type="submit" class="btn btn-primary btn-lg">Удалить</button>
            </form>
        </div>
        <div class="col">
            <form th:method="GET" th:action="@{/appeals/new}">
                <button type="submit" class="btn btn-primary btn-lg" th:name="car_id" th:value="${car.getId()}">Добавить обращение</button>
            </form>
            <!-- Не добавлено ни одного ремонта -->
            <div th:if="${appeals.isEmpty()}">
                <p>Для данной машины еще не добавлено ни одного ремонта</p>
                <hr/>
            </div>
            <div th:if="${!appeals.isEmpty()}">
                <div th:each="appeal : ${appeals}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${appeal.getName()}">Special title treatment</h5>
                            <p class="card-text" th:text="${appeal.getFaultDescription()}">With supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted" th:text="${appeal.getDateOfAppeal()}">Last updated 3 mins ago</small></p>
                            <a th:href="@{/appeals/{id}(id=${appeal.getId()})}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>