<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${car.getModel()}">Информация об автомобиле</title>
</head>
<body>
<div th:insert="~{common :: com}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img th:src="@{${car.getFilename()}}" class="img-fluid" alt="Not found">
        </div>
        <div class="col">
            <p th:text="${'Модель: ' + car.getModel()}" style="font-size: xx-large">VALUE</p>
            <div th:if="${car.getOwner() == null}">
                <p style="color:red; font-size: large">Владелец: Нет данных о владельце</p>
            </div>
            <div th:if="${car.getOwner() != null}">
                <a th:href="@{/clients/{id}(id=${car.getOwner().getId()})}" style="font-size: large" th:text="${'Владелец: ' + car.getOwner().getFullName()}">VALUE</a>
            </div>
            <br/>
            <p th:text="${'Госномер: ' + car.getStateNumber()}" style="font-size: large">VALUE</p>
            <p th:text="${'VIN: ' + car.getVin()}" style="font-size: large">VALUE</p>
            <div class="row row-cols-auto">
                <div class="col">
                    <form th:method="GET" th:action="@{/cars/{id}/edit(id=${car.getId()})}">
                        <button type="submit" class="btn btn-primary btn-lg">Редактировать</button>
                    </form>
                </div>
                <div class="col">
                    <form th:method="DELETE" th:action="@{/cars/{id}(id=${car.getId()})}">
                        <button type="submit" class="btn btn-primary btn-lg">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <form th:method="GET" th:action="@{/appeals/new}">
                <button type="submit" class="btn btn-primary btn-lg" th:name="car_id" th:value="${car.getId()}">Добавить обращение</button>
            </form>
            <!-- Не добавлено ни одного ремонта -->
            <div th:if="${appeals.isEmpty()}">
                <p>Для данной машины еще не добавлено ни одного ремонта</p>
                <hr/>
            </div>
            <div th:if="${!appeals.isEmpty()}">
                <div class="list-group">
                    <div th:each="appeal : ${appeals}">
                        <a th:href="@{/appeals/{id}(id=${appeal.getId()})}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${appeal.getName()}">List group item heading</h5>
                                <small>
                                    <p th:text="${'Пробег: ' + appeal.getMileage()}">Пробег</p>
                                </small>
                            </div>
                            <p class="mb-1" th:text="${appeal.getFaultDescription()}">Some placeholder content in a paragraph.</p>
                            <small class="text-muted">
                                <i th:text="${'Дата ремонта: ' + appeal.getDateOfAppeal()}">Дата</i>
                            </small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>