<!-- Готов -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать клиента</title>
</head>
<body>
<div th:insert="common :: com"></div>
<form th:method="PATCH" th:action="@{/clients/{id}(id=${client.getId()})}" th:object="${client}">
    <div class="mb-3">
        <label for="fullName" class="form-label">Имя клиента:</label>
        <input type="text" class="form-control" placeholder="Введите уникальное имя клиента" th:field="*{fullName}" id="fullName">
        <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Сохранить изменения</button>
</form>

</body>
</html>