<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${appeal.getName()}">VALUE</p>
<p th:text="${'Владелец: ' + appeal.getCar().getOwner().getFullName()}">VALUE</p>
<p th:text="${appeal.getCar().getModel()}">VALUE</p>
<!-- Не добавлено ни одного ордера -->
<div th:if="${orders.isEmpty()}">
    <p>Для данного ремонта еще не добавлено ни одного ордера</p>
    <hr/>
</div>

<!-- Отображаем ремонты -->
<!--<div th:if="${!cases.isEmpty()}">
    <hr/>
    <b>:</b>
    <br/>
    <table th:each="case : ${cases}">
        <tr>
            <td>
                <span  th:text="${case.getModel() + ', ' + case.getStateNumber()}">case</span>
            </td>
        </tr>
    </table>
    <hr/>
</div>-->

<form th:method="GET" th:action="@{/appeals/{id}/edit(id=${appeal.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/appeal/{id}(id=${appeal.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>