<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обращение</title>
</head>
<body>
<div th:insert="~{common :: com}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p th:text="${appeal.getName()}" style="font-size: xx-large">VALUE</p>
            <p th:text="${'Модель: ' + appeal.getCar().getModel()}" style="font-size: x-large">VALUE</p>


            <p th:text="${'Пробег: ' + appeal.getMileage()}" style="font-size: large">VALUE</p>
            <p th:text="${'Дата ремонта: ' + appeal.getDateOfAppeal()}" style="font-size: large">VALUE</p>
            <p th:text="${'Описание неисправности: ' + appeal.getFaultDescription()}" style="font-size: large">VALUE</p>
            <div class="row row-cols-auto">
                <div class="col">
                    <form th:method="GET" th:action="@{/appeals/{id}/orders(id=${appeal.getId()})}">
                        <button type="submit" class="btn btn-primary btn-lg">Ордера</button>
                    </form>
                </div>
                <div class="col">
                    <form th:method="GET" th:action="@{/appeals/{id}/edit(id=${appeal.getId()})}">
                        <button type="submit" class="btn btn-primary btn-lg">Редактировать</button>
                    </form>
                </div>
                <div class="col">
                    <form th:method="DELETE" th:action="@{/appeals/{id}(id=${appeal.getId()})}">
                        <button type="submit" class="btn btn-primary btn-lg">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <p style="font-size: xx-large">Ордера</p>
            <!-- Не добавлено ни одного ордера -->
            <div th:if="${orders.isEmpty()}">
                <p>Для данного ремонта еще не добавлено ни одного ордера</p>
                <hr/>
            </div>
            <div th:if="${!orders.isEmpty()}">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Наименование работ</th>
                        <th scope="col">Стоимость работ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="order : ${orders}">
                        <tr>
                            <th scope="row" th:text="${order.getId()}">id</th>
                            <td>
                                <a th:text="${order.getName()}">Name</a>
                            </td>
                            <td>
                                <a th:text="${order.getValue() + ' руб.'}">Value</a>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://sun3.userapi.com/sun3-8/s/v1/ig2/E0mCqgq4K60pY_C-DTkH_wFkD9ttHOyd95tzO0i672neO7wAI6uKZ1Qj0giyFOb3aerlj_rVmcb5v9USRLgk8Kiz.jpg?size=1024x1024&quality=95&type=album" class="d-block w-100" alt="...">
                    </div>
                    <div th:each="photo : ${appeal.getPhotoAppealList()}">
                        <div class="carousel-item">
                            <img th:src="@{${photo.getPath()}}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>